<%= render 'layouts/errors', :object => @tag %>

<%= form_for @tag do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", placeholder: "ex. pizza, ball, cat" %>
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
